html,
body {
	padding: 0;
	margin: 0;
	background-color: black;
}
/* .imageContent {
	display: grid;
	grid-template-columns: 2fr 1fr;
} */
.cute {
	width: 100vw;
	height: 100vh;
	display: block;
	margin: 0 auto;
}
.peach {
	width: 70%;
	display: block;
	margin: 0 auto;
	padding-top: 20%;
}
p {
	color: #ffffff;
	padding: 0;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 35px;
	letter-spacing: 3px;
	line-height: 50px;
	margin-bottom: 8%;
}

span {
	color: #e9490f;
	padding: 0;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 40px;
	font-weight: bold;
}
.peachy {
	width: 30%;
	height: auto;
	display: block;
	margin: 0 auto;
}
img {
	width: 100%;
}
@media screen and (max-width: 570px) {
	p {
		font-size: 30px;
		letter-spacing: 1.5px;
		line-height: 40px;
		margin-bottom: 14%;
	}
	span {
		font-size: 35px;
	}
	.peach {
		width: 85%;
		display: block;
		margin: 0 auto;
		padding-top: 20%;
	}
	.peachy {
		width: 50%;
		height: auto;
	}
	.bye {
		width: 85%;
	}
	.poem {
		font-size: 25px;
		letter-spacing: 1px;
		line-height: 35px;
	}
}
.funny {
	width: 100%;
	margin: 10% auto;
}
.row {
	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;
	justify-content: center;
}

/* Create four equal columns that sits next to each other */
.column {
	flex: 25%;
	max-width: 40%;
	padding: 0 4px;
}

.column img {
	margin-top: 8px;
	vertical-align: middle;
	width: 100%;
}
.peachypie {
	width: 15%;
	display: block;
	margin: 0 auto;
	padding-top: 28%;
	padding-bottom: 5%;
}
.bye {
	display: block;
	margin: 0 auto;
	width: 85%;

	margin-top: 25%;
}
.byemsg {
	text-align: center;
}
